{% extends 'comercial/layout.html' %}
{% load static %}
{% block content %}

<div class="col-12 row mx-auto m-4 ">
    <div class="col-4 mx-auto p-2 c ">
        <img src="{% static 'img/imagen/edificio.jpg' %}" class="m-3 " width="350px" alt="*">
    </div>

    <div class="col-8 mx-auto p-3 ">
        <div class="col-12 row backcol3 mt-2">
            <h1 class="m-4 c">Centro Comercial </h1>
        </div>
        <div class="col-12 row backcol3 mt-4">
            <div class="col-6 mt-2 p-4 c">
                <h3>Telefono</h3>
                <h3>Email@test.com</h3>
                <h3>Direccion</h3>
            </div>
            <div class="col-6 mt-2 p-4 c">
                <h5>5 Pisos</h5>
                <h5>150 Locales</h5>
                <h5>Mas de 8000 productos</h5>
                <h5>Aproximadamente 200 personas dispuestas a servirte</h5>
            </div>
        </div>
    </div>
</div>

<div class="col-12 row mx-auto m-4 ">
    <div class="col-2 row mx-auto p-4 c ">
        <div class="col-12 txtcol6 c">
            <h6>Creemos que todos podemos tener un computador en casa</h6>
            <h6>Por ello ofrecemos los mejores productos nuevos  y usados</h6>
            <h6>A los mejores precios</h6>
            <h6>Y con la mejor atencion que podemos brindar</h6>
        </div>
        <div class="col-12 txtcol6 pt-4 c">
            <h4>Queremos ser los mejores del mercado</h4>
            <h4>Y nos esforzamos en hacer lo que hacemos...</h4>
            <h3>BIEN!!</h3>
        </div>
    </div>

    <div class="col-2 row mx-auto c">

            <h3>Categorias</h3>
            <h6>Computadores</h6>
            <p>Monitores</p>
            <p>Impresoras</p>
            <p>Celulares</p>
            <p>Servicio Tecnico</p>
            <p>Partes y otros</p>
            <p>Comidas</p>

    </div>

    <div class="col-7 mx-auto">
        <h2 class="mx-auto c backcol3 p-3">Destacados</h2>
        <div class="col-12 row mx-auto">
            <div class="col-4 mx-auto c ">
                <div class="m-2 p-2 backcol4">
                    <h3>Local 1-102</h3>
                    <h4>La Colonia de los Computadores</h4>
                    <h4>Categoria</h4>
                </div>
            </div>
            <div class="col-4 mx-auto c ">
                <div class="m-2 p-2 backcol4">
                    <h3>Local 1-102</h3>
                    <h4>La Colonia de los Computadores</h4>
                    <h4>Categoria</h4>
                </div>
            </div>
            <div class="col-md-4 mx-auto c ">
                <div class="m-2 p-2 backcol4">
                    <h3>Local 1-102</h3>
                    <h4>La Colonia de los Computadores</h4>
                    <h4>Categoria</h4>
                </div>
            </div>
        </div>

        <div class="col-md-12 row mx-auto">
            <div class="col-md-6 mx-auto m-2 c backcol4">
                <h2>Local 1-102</h2>
                <h3>La Colonia de los Computadores</h3>
                <h3>Categoria</h3>
            </div>
            <div class="col-md-5 mx-auto m-2 c backcol4">
                <h2>Local 1-102</h2>
                <h3>La Colonia de los Computadores</h3>
                <h3>Categoria</h3>
            </div>
        </div>

        <div class="col-md-12 row mx-auto">
            <div class="col-md-5 mx-auto m-2 c backcol4">
                <h2>Local 1-102</h2>
                <h3>La Colonia de los Computadores</h3>
                <h3>Categoria</h3>
            </div>
            <div class="col-md-6 mx-auto m-2 c backcol4">
                <h2>Local 1-102</h2>
                <h3>La Colonia de los Computadores</h3>
                <h3>Categoria</h3>
            </div>
        </div>
    </div>

</div>

{% endblock %}
