{% extends 'comercial/layout.html' %}
{% load static %}
{% block content %}

<div class=" contbody">
    <div class="title c txtcol6">
        <h1>Pagos</h1>
    </div>

    <div class="col-12 row mx-auto">

        <div class="col-3 mt-4 txtcol29 ">
            {% include 'manager/partials/side_menu.html' %}
        </div>

        <div class="col-9 mx-auto mb-5">
            <div class="table-responsive">
                <table class="table">
                    <tr class="bg-primary">
                        <th>Local</th>
                        <th>Dia de Pago</th>
                        <th>Meses</th>
                        <th>Cantidad</th>
                        <th class="c">Accion</th>
                    </tr>
                    {% for payment in localPay %}
                    <tr class="table-primary">
                        <td>{{payment.local}}</td>
                        <td>{{payment.payday}}</td>
                        <td>{{payment.monts}}</td>
                        <td>{{payment.amount}}</td>
                        <td>
                            <a href="{% url 'editPayment' payment.id %}" class="btn btn-info btn-sm">Editar</a>
                            <a class="btn btn-danger btn-sm btn-block" href="{% url 'deletePayment' payment.id %}">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-8 mx-auto mt-3">
                {% if totalLocales > 10 %}
                    {% include 'comercial/partials/pagination.html' %}
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock content %}
