
<h3 class="c">Locales Activos</h3>
<div class="col-12 mt-3 row">
    <div class="col-6 ">
        <h5 class="c">Piso 1</h5>
        {% for local in locales_active %}
            <h6 class="fontlocal txtcol27 ">
                {% if local.floor == 1 %}
                    {{ local.floor }}-{{ local.localNum }} - {{ local.name }}
                {% endif %}
            </h6>
        {% endfor %}
    </div>
    <div class="col-6 ">
        <h5 class="c">Piso 2</h5>
        {% for local in locales_active %}
            <h6 class="fontlocal txtcol27 ">
                {% if local.floor == 2 %}
                    {{ local.floor }}-{{ local.localNum }} - {{ local.name }}
                {% endif %}
            </h6>
        {% endfor %}
    </div>
</div>

<div class="col-12 mt-3 row">
    <div class="col-6 ">
        <h5 class="c">Piso 3</h5>
        {% for local in locales_active %}
            <h6 class="fontlocal txtcol27 ">
                {% if local.floor == 3 %}
                    {{ local.floor }}-{{ local.localNum }} - {{ local.name }}
                {% endif %}
            </h6>
        {% endfor %}
    </div>
    <div class="col-6 ">
        <h5 class="c">Piso 4</h5>
        {% for local in locales_active %}
            <h6 class="fontlocal txtcol27 ">
                {% if local.floor == 4 %}
                    {{ local.floor }}-{{ local.localNum }} - {{ local.name }}
                {% endif %}
            </h6>
        {% endfor %}
    </div>
</div>

<div class="col-12 mt-3 row">
    <div class="col-6 ">
        <h5 class="c">Piso 5</h5>
        {% for local in locales_active %}
            <h6 class="fontlocal txtcol27 ">
                {% if local.floor == 5 %}
                    {{ local.floor }}-{{ local.localNum }} - {{ local.name }}
                {% endif %}
            </h6>
        {% endfor %}
    </div>
</div>